{% stylesheet %}
.cta-example {
    display: flex;
    flex-direction: column;
}
.cta-example_image img {
    width: 500px;
    height:234px;
    object-fit: cover;

}
.cta-example_image {
    margin: 0 auto;
}
.cta-example_content {
    max-width: 100%;
    text-align: center;
    background-color: #eaeaea;
    padding: 30px;
}
{% endstylesheet %}
<div class="cta-example">
 <div class="cta-example_image">
    {% if section.settings.background_image !=blank %}
    <img src="{{ section.settings.background_image | image_url: width: 500 }}" alt="" loading="lazy">
    {% else %}
    {{ 'lifestyle-2' | placeholder_svg_tag }}
    {% endif %}
 </div>

 <div class="cta-example_content">
 {% if section.settings.heading !=blank %}
<h2>{{ section.settings.heading }}</h2>
 {% endif %}
 {{ section.settings.content }}
 {% if section.settings.button_link !=blank and section.settings.button_text !=blank %}
 <a href="{{ section.settings.button_link }}" class="button">
    {{ section.settings.button_text }} </a>
    {% endif %}
 </div>
</div>

{% schema %}
{
    "name": "call-to-Action",
    "tag": "section",
    "class": "cta-example",
    "settings": [
    {
     "type": "image_picker",
     "id": "background_image",
     "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
    "type": "richtext",
     "id": "content",
    "label": "content"
    },
    {
     "type": "url",
     "id": "button_link",
     "label": "Button link"
    },
    {
     "type": "text",
     "id": "button_text",
     "label": "Button text"
    }
  ],
  "presets": [
  {
      "name": "call-to-Action"
  }]
}
{% endschema %}
